@using OnlineTicariOtomasyon.Models.Class
@model List<SalesMove>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_CurrentPanelLayout.cshtml";
}

<h3 class="alert alert-default-info" style="text-align:center"><b style="color:red">Sipariş Geçmişi</b></h3>


<table id="tableSaleDetail" class="table table-bordered">

    <tbody>
        <tr>
            <th>Ürün Adı</th>
            <th>Sipariş Tarihi</th>
            <th>Adet</th>
            <th>Fiyat</th>

        </tr>
        <tr>
            @foreach (var item in Model)
            {
            <tr>

                <td>@item.Product.ProductName</td>
                <td>@item.Date_</td>
                <td>@item.Amount</td>
                <td>@item.TotalPrice</td>
            </tr>

        }

            </tr>
        </tbody>
    </table>


    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <script>
        $('#tableSaleDetail').dataTable({});
    </script>